@use "../theme_color.scss" as c;

.row-two, .row-two h1 {
  background-color: c.$theme-color-4;
  color: white;
}

.row-two mat-card {
  height: 100%;
  background-color: transparent;
  border-radius: 0px;
}

.row-two mat-card-content {
  padding: 0px;
}