@use "../theme_color.scss" as c;

h1, h2 {
  color: c.$theme-color-1;
}

mat-card {
  height: 100%;
}

mat-card-header {
  padding: 16px;
  font-weight: bold;
}

.donation-iframe {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 100%;
}
